body{
    padding-top: 5rem;
}
body, html{
    height: 100%;
}
.video-wrapper {
    width: 100%;
    background-color: lightblue;
  }

section {
    margin: 2rem;
    padding: 3rem;
    background-color: lightblue;
    border-radius: 2em;
    opacity: 0.75;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.bgimg{
    background-image: url("uni.jpg");
    height: 100%;
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* fixed in viewport */
}
footer{
    color: white;
    
}
#a{
    padding-top: 20rem;
}
#b{
    padding-top: 30rem;
}
h1{
    color:black;
}
h2{
    color:black;
}
#heading2{
    color:black;
}
aside a{
     color:black;
    font-size: 30px;
}
.name{
    padding-left: 10rem;
    background-color: lightblue;
    background-size: 2em;
    border-radius: 2em;
    
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin:5px 2px;
    border-radius: 50%;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-linkedin{
      background: #3B5998;
      color:white;
  }
  .fa-github{
      background: white;
      color: black;
  }
  .fa:hover {
    opacity: 1.5;
    color:black;
}